{{template "header" .}}
<div class="master-detail">
  <div class="panel-left">
    <div class="panel-left-header">
      <select
        name="language"
        onchange="window.location.href='/rules/' + this.value + '/'"
      >
        {{range .Contents.Languages}}
        <option value="{{.}}" {{if eq . $.Contents.Language}}selected{{end}}>{{.}}</option>
        {{end}}
      </select>
      <div class="panel-left-actions">
        <span class="entry-count">{{.Contents.Count}} {{t "RulesLower" "rules"}}</span>
        {{if .Contents.CanWrite}}<a
          class="btn btn-sm btn-primary"
          href="/rules/{{.Contents.Language}}/new"
          hx-get="/rules/{{.Contents.Language}}/new"
          hx-target="#entry-detail"
          hx-push-url="true"
        >{{t "NewRule" "New rule"}}</a>{{end}}
      </div>
    </div>
    <div class="entry-filter">
      <input
        type="text"
        name="query"
        placeholder="{{t "FilterRules" "Search name, pattern, description..."}}"
        hx-get="/rules/{{.Contents.Language}}/list"
        hx-trigger="input changed delay:300ms, search"
        hx-target="#entry-list"
        hx-indicator="#entry-list-area"
        hx-include="this"
        autocomplete="off"
      >
    </div>
    <div id="entry-list-area" class="entry-list">
      <div id="entry-list">
        {{template "rule_list.html" .}}
      </div>
    </div>
  </div>
  <div class="panel-right">
    <div id="entry-detail">
      {{if .Contents.Rule}}
        {{template "rule_form.html" .}}
      {{else if .Contents.NewRule}}
        {{template "rule_form.html" .}}
      {{else}}
        <div class="panel-right-empty">{{t "SelectRule" "Select a rule to edit"}}</div>
      {{end}}
    </div>
  </div>
</div>
{{template "footer" .}}
