name: Run tests

on:
  push:

permissions:
  contents: read

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - name: Install hunspell
        run: sudo apt-get install -y libhunspell-dev
      - name: Run go tests
        run: |
          go test ./...
